@* @model List<Borough>  *@

@model InfoBorough
@{
    ViewData["Title"] = "Home Page";
}

</style>

<div class="text-center">
    <h1 class="display-4">Encuentra tu Hogar</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*
<select class="form-select" aria-label="Default select example">
  <option selected>Selecciones Pais</option>
  @foreach(var item in Model){
    <option value="@item.idCountry">@item.name</option>
  }
</select> *@

@* <select class="form-select" aria-label="Default select example">
  <option selected>Selecciones Region</option>
  @foreach(var item in Model){
    <option value="@item.idRegion">@item.name</option>
  }
</select> *@



@* <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pais</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model){
        <tr>
          <th scope="row">@item.idCountry</th>
          <td>@item.name</td>
        </tr>
      }
  </tbody>
</table> *@

@* <table class="table">
  <thead>
    <tr>
      <th scope="col"># </th>
      <th scope="col">Name</th>
      <th scope="col">Region</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model){
        <tr>
          <th scope="row">@item.idBorough</th>
          <td>@item.name</td>
          <td>@item.idRegion</td>

        </tr>
      }
  </tbody>
</table> *@

<div class="card mb-3">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">

            @foreach (var item in Model.propertyMedia)
            {
                var isFirstItem = (item == Model.propertyMedia.First());
                <div class="carousel-item @(isFirstItem ? "active" : "")">
                    <img src="@item.url" class="img-thumbnail" alt="...">
                </div>
            }

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="card-body">
        <h1 class="card-title">@Model.propertyTitle</h1>
        <p class="card-text">@Model.webAddress</p>
        <p class="card-text">@Model.observations.Replace("<br /><br />", "")</p>


        <h5>Valor de Venta: @Model.priceSaleFormatted</h5>
        <h5>Valor de Arriendo: @Model.priceRentFormatted</h5>

        <h4>Caracteristicas del inmueble</h4>
        <table class="tab-content">
            <tr>
                <th>Habitaciones</th>
                <th>@Model.characteristics.bedrooms</th>
                <th>Baños</th>
                <th>@Model.characteristics.bathrooms</th>
                <th>Mascota</th>
                <th>@Model.characteristics.petsAllowed</th>
            </tr>
            <tr>
                <th>Año de construccion</th>
                <th>@Model.characteristics.constructionYear</th>
                <th>Piscina</th>
                <th>@Model.characteristics.pool</th>
                <th></th>
                <th></th>
            </tr>
        </table>

       
        <p class="card-text"><small class="text-body-secondary">Fecha de Publicacion: @Model.publicationDate.ToShortDateString()</small></p>
    </div>
</div>
