@model HomePageModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-header {
        position: relative; /* Añade una posición relativa para usar en la imagen */
        overflow: hidden; /* Para asegurar que la imagen no salga de los límites del encabezado de la tarjeta */
    }

        .card-header img {
            /*  //width: 100%; */ /* Asegura que la imagen ocupe todo el ancho disponible */
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            height: 200px; /* Mantiene la proporción original de la imagen */
            object-fit: cover; /* Escala la imagen para cubrir todo el área del contenedor manteniendo la relación de aspecto */
        }

    .card {
        height: 100%;
    }
</style>

<script>
    function loadRegiones(paisId) {

        $.ajax({
            url: '@Url.Action("GetRegiones", "Home")',
            type: 'GET',
            data: { idCountry: paisId },
            success: function (response) {
                $('#region').empty(); // Vaciar el dropdown de regiones
                $('#comuna').empty(); // Vaciar el dropdown de comunas
                $('#region').append($('<option selected disabled>').text('Region').attr('value', '-1'));
                $('#comuna').append($('<option selected disabled>').text('Comuna').attr('value', '-1'));
                $.each(response, function (index, value) {
                    $('#region').append($('<option>').text(value.name).attr('value', value.idRegion));
                });
                loadComunas(response[0].Id); // Cargar las comunas de la primera región
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }

    function loadComunas(regionId) {
        console.log('Buscar comuna para region: ' + regionId)
        $.ajax({
            url: '@Url.Action("GetComunas", "Home")',
            type: 'GET',
            data: { idRegion: regionId },
            success: function (response) {
                $('#comuna').empty(); // Vaciar el dropdown de comunas
                $('#comuna').append($('<option selected disabled>').text('Comuna').attr('value', '-1'));
                $.each(response, function (index, value) {
                    $('#comuna').append($('<option>').text(value.name).attr('value', value.idBorough));
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>

<div class="text-center">
    <h1 class="display-4">Encuentra tu Hogar</h1>
    <h1 class="display-6">ETH</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <select class="form-select" onchange="loadRegiones(this.value)">
                <option selected disabled>Pais</option>
                @foreach (var pais in Model.Paises)
                {
                    <option value="@pais.idCountry">@pais.name</option>
                }
            </select>
        </div>
        <div class="col">
            <select id="region" class="form-select" onchange="loadComunas(this.value)">
                <option selected disabled>Region</option>
            </select>
        </div>
        <div class="col">
            <select id="comuna" class="form-select">
                <option selected disabled>Comuna</option>
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Filtrar</button>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        @foreach (var item in Model.InfoBoroughs)
        {
            <div class="col-sm-4 mb-2">
                <div class="card">

                    <div class="card-header">
                        <img src="@item.firstImageUrl" alt="VMW">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@item.propertyTitle</h5>

                        @if (item.priceRent > 0 && item.priceSale == 0)
                        {
                            <p><span>Valor Arriendo: </span>@item.priceRent</p>
                        }
                        else if (item.priceRent == 0 && item.priceSale > 0)
                        {
                            <p><span>Valor Venta: </span>@item.priceSale</p>
                        }

                        <p class="card-text">@item.webAddress</p>

                        <a asp-action="Property" asp-controller="Home" asp-route-idProperty="@item.idProperty" class="btn btn-primary btn-sm">Mas informacion</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
