@model List<InfoBorough>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-header {
        position: relative; /* Añade una posición relativa para usar en la imagen */
        overflow: hidden; /* Para asegurar que la imagen no salga de los límites del encabezado de la tarjeta */
    }

        .card-header img {
            /*  //width: 100%; */ /* Asegura que la imagen ocupe todo el ancho disponible */
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
            height: 200px; /* Mantiene la proporción original de la imagen */
            object-fit: cover; /* Escala la imagen para cubrir todo el área del contenedor manteniendo la relación de aspecto */
        }

    .card {
        height: 100%;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Encuentra tu Hogar</h1>
    <h1 class="display-6">ETH</h1>
</div>


<div class="container mt-2">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 mb-2">
                <div class="card">

                    <div class="card-header">
                        <img src="@item.firstImageUrl" alt="VMW">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@item.propertyTitle</h5>

                        @if (item.priceRent > 0 && item.priceSale == 0)
                        {
                            <p><span>Valor Arriendo: </span>@item.priceRent</p>
                        }
                        else if (item.priceRent == 0 && item.priceSale > 0)
                        {
                            <p><span>Valor Venta: </span>@item.priceSale</p>
                        }

                        <p class="card-text">@item.webAddress</p>

                        <a asp-action="Property" asp-controller="Home" asp-route-idProperty="@item.idProperty" class="btn btn-primary btn-sm">Mas informacion</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
